<persistence xmlns="https://jakarta.ee/xml/ns/persistence" version="3.0">
    <persistence-unit name="AuctionPU" transaction-type="JTA">
        <jta-data-source>jdbc/auctionDS</jta-data-source>

        <class>com.auction.model.Actions</class>
        <class>com.auction.model.Bids</class>
        <class>com.auction.model.Category</class>
        <class>com.auction.model.ContactMessage</class>
        <class>com.auction.model.LogLevel</class>
        <class>com.auction.model.Status</class>
        <class>com.auction.model.SystemLogs</class>
        <class>com.auction.model.User</class>
        <class>com.auction.model.ActionStatus</class>

        <properties>
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQL8Dialect"/>
            <property name="hibernate.show_sql" value="true"/>
        </properties>
    </persistence-unit>
</persistence>